@model INTEX.Models.WorkOrder

@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Order Details</h2>

<div>
    <h4>Work Orders</h4>
    <hr />
    @foreach (var item in Model)
    {

    <div class="row">
        <div class="col-md-6" style="text-align:right">
            Order Number:
        </div>

        <div class="col-md-6" style="text-align:left">
            @Html.DisplayFor(model => model.OrderID)
        </div>

        <div class="col-md-6" style="text-align:right">
            Employee who placed order:
        </div>

        <div class="col-md-6" style="text-align:left">
            @Html.DisplayFor(model => model.Order.Employee.EmpFirstName)
        </div>

        <div class="col-md-6" style="text-align:right">
            Order Date:
        </div>

        <div class="col-md-6" style="text-align:left">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </div>

        <div class="col-md-6" style="text-align:right">
            Quoted Price:
        </div>

        <div class="col-md-6" style="text-align:left">
            @Html.DisplayFor(model => model.Order.QuotedPrice)
        </div>

        <div class="col-md-6" style="text-align:right">
            Current Exepected Price:
        </div>

        <div class="col-md-6" style="text-align:left">
            @Html.DisplayFor(model => model.Order.ActualPrice)
        </div>

        <div class="col-md-6" style="text-align:right">
            Order Status:
        </div>

        <div class="col-md-6" style="text-align:left">
            <strong>
                <u>
                    @Html.DisplayFor(model => model.Status.StatusDescription)
                </u>
            </strong>
        </div>
    </div>
    }
</div>
