@model IEnumerable<INTEX.Models.Orders>

@{
    ViewBag.Title = "Order History";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Order History</h2>

<p>
    @Html.ActionLink("Create New", "Contact", "Home")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order Nubmer
            </th>
            <th>
                Date
            </th>
            <th>
                Quoted Price
            </th>
            <th>
                Price After Performing Tests
            </th>
            <th>
                Employee Discount
            </th>
            <th>
                Early Payment Discount
            </th>
            <th>
                Final Price
            </th>
            <th>
                Payment Received
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.InvoiceID != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.QuotedPrice)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.ActualPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Invoice.EmployeeDiscount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Invoice.EarlyPaymentDiscount)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Invoice.FinalPrice)
                    </td>
                    @if (item.Invoice.ReceivedPaymentDate != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Invoice.ReceivedPaymentDate)
                        </td>
                    }
                    else
                    {
                        <td>
                            Still awaiting payment!
                        </td>   
                    }
                    <td>
                        @Html.ActionLink("View Order Details", "OrderDetails", new { id = item.OrderID })
                    </td>
                </tr>
            }

        }
    </tbody>

</table>
