@model IEnumerable<INTEX.Models.WorkOrder>
@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Order Details</h2>
@{int i = 0; }
@foreach (var item in Model)
{
    if (item.OrderID == ViewBag.ID)
    {
        if (i == 0)
        {
            <div class="col-md-3">
                <h3>Order Details</h3>
                <div>
                    <strong>OrderID:</strong> @item.Order.OrderID
                </div>
                <div>
                    <strong>DueDate:</strong> @item.DueDate
                </div>

                <div>
                    <strong>SummaryReport:</strong> @item.SummaryReport
                </div>
            </div>
        }
        
            <div class="col-md-3">
                <h3>Sample @Html.Raw(i+1)</h3>
                <div>
                    <strong>Compound: </strong> @item.Compound.CompoundName
                </div>

                <div>
                    <strong>Work Order Status:</strong> <u> @item.Status.StatusDescription </u>
                </div>
            </div>
        i++;
    }
}

