@model INTEX.Models.WorkOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SingaporeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Compound.CompoundName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compound.CompoundName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.OrderDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.OrderDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SummaryReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SummaryReport)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
