@model IEnumerable<INTEX.Models.Orders>

@{
    ViewBag.Title = "QuoteRequests";
}

<h2>Quote Requests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.InvoiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuotedPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
