@model IEnumerable<INTEX.Models.Orders>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_SeattleLayout.cshtml";
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>
           Customer First Name
        </th>
        <th>
            Employee First Name
        </th>
        <th>
            Invoice ID
        </th>
        <th>
            Order Date
        </th>
        <th>
            Quoted Price
        </th>
        <th>
            Actual Price
        </th>
        <th>
            Order Details
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmpFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.InvoiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
           $@Html.DisplayFor(modelItem => item.QuotedPrice)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.ActualPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDetails)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) 
        </td>
    </tr>
}

</table>
